<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Monolegacy</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
</head>
<body class="antialiased bg-slate-200 flex flex-col font-sans min-h-screen text-slate-700">
    <header class="bg-slate-100 shadow">
        <nav class="max-w-6xl w-full mx-auto h-20 flex justify-between items-center">
            <a href="/" class="font-medium p-3">Monolegacy</a>
            <div>
                <div>
                    <button type="button">{{ user.name }}</button>
                </div>
            </div>
        </nav>
    </header>

    <div class="max-w-6xl w-full mx-auto flex flex-grow bg-slate-100 shadow-lg">
        <div class="w-72 flex flex-col flex-none p-3 border-r border-slate-200">
            {% include 'partials/sidebar.twig' %}
        </div>
        <div class="flex flex-col flex-grow p-3">
            <div class="flex justify-between pb-3">
                <a href="/donator.php" class="font-medium text-blue-500">Donate to Monolegacy</a>
                <a href="/vote.php" class="font-medium text-blue-500">Vote for Monolegacy</a>
            </div>

            <main class="flex flex-col space-y-3">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

</body>
</html>
