<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Monolegacy</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
</head>
<body class="antialiased bg-slate-200 flex flex-col font-sans min-h-screen text-slate-700">
    <header class="bg-slate-100">
        <nav class="max-w-6xl w-full mx-auto h-20 flex justify-between items-center">
            <a href="/" class="font-medium p-3">Monolegacy</a>
            <div>
                <a href="/login" class="p-3">Login</a>
                <a href="/register" class="p-3">Register</a>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}
</body>
</html>
