
img {
	border: none;
}

textarea {
	font-family: helvetica, arial, geneva, sans-serif;
	color: black;
}


.center {
	width: 932px;
	background-color: #FFFFFF;
	vertical-align: top;
	text-align: center;
}

.table {
	background-color: #000000;
}

.table3 {
	background-color: #000000;
}

.table td {
	background-color: #DEDEDE;
	height: 22px;
}

.table3 td {
	background-color: #CCCCCC;
}

td .alt {
	background-color: #EEEEEE;
	height: 22px;
}

td .h {
	background-image: url(../tablehgrad.png);
	background-repeat: repeat-x;
	font-weight: bold;
	background-color: #D6D6D6;
}

.table th {
	background-image: url(../tablehgrad.png);
	background-repeat: repeat-x;
	font-weight: bold;
	background-color: #D6D6D6;
}

button[type="submit"], input[type="submit"] {
	background:silver;
	padding:2px;
}
