{% extends 'layouts/app.twig' %}

{% block content %}

    {% include 'partials/title.twig' with {
        title: course.name,
        links: {
            'City University': urlFor('university'),
            'Explore': urlFor('explore')
        }
    } %}

    <p>{{ course.description }}</p>

    {% if course.requirements %}
        <p class="mt-3">
            <span>Requirements:</span>
            {% for requirement in course.requirements %}
                {% if is_object(requirement) %}
                    <span>completed the <a href="/university/{{ requirement.slug }}" class="text-blue-500">{{ requirement.name }}</a> course{% if not loop.last %},{% else %}.{% endif %}</span>
                {% else %}
                    <span>{{ requirement }}{% if not loop.last %},{% else %}.{% endif %}</span>
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    <p class="mt-3">
        <span> Benefits:</span>
        {% for benefit in course.benefits %}
            ...
        {% endfor %}
    </p>

{% endblock %}
