{% extends 'layouts/app.twig' %}

{% block content %}

    <h2 class="text-3xl font-light border-b border-slate-200 mb-3">Exploring {{ user.city_name }}</h2>

    <div class="grid grid-cols-3 gap-3">
        <div class="flex flex-col space-y-3 text-center">
            <h3 class="text-lg bg-slate-200 py-1 rounded">West End</h3>
            <div>
                <a href="/shops.php" class="text-blue-500">Shopping Mall</a><br />
                <a href="/itemmarket.php" class="text-blue-500">Market Stalls</a><br />
                <a href="/cmarket.php" class="text-blue-500">Diamond Market</a><br />
            </div>
        </div>
        <div class="flex flex-col space-y-3 text-center">
            <h3 class="text-lg bg-slate-200 py-1 rounded">City Center</h3>
            <div>
                <a href="/travel" class="text-blue-500">Travel Agent</a><br />
                <a href="/estate.php" class="text-blue-500">Realtor</a><br />
                <a href="/bank" class="text-blue-500">National Bank</a><br />
                <a href="/university" class="text-blue-500">City University</a><br />
            </div>
            </div>
        <div class="flex flex-col space-y-3 text-center">
            <h3 class="text-lg bg-slate-200 py-1 rounded">North Side</h3>
            <div>
                <a href="/gangcentral.php" class="text-blue-500">Gangs</a><br />
                <a href="/gangwars.php" class="text-blue-500">Gang Wars</a><br />
                <a href="/fedjail.php" class="text-blue-500">Federal Jail</a><br />
                <a href="/slotsmachine.php" class="text-blue-500">Slots</a><br />
                <a href="/roulette.php" class="text-blue-500">Roulette</a><br />
                <a href="/lucky.php" class="text-blue-500">Lucky Boxes</a><br />
            </div>
        </div>
        <div class="flex flex-col space-y-3 text-center">
            <h3 class="text-lg bg-slate-200 py-1 rounded">South Side</h3>
            <div>
                <a href="/players" class="text-blue-500">Player List</a><br />
                <a href="/staff" class="text-blue-500">Staff List</a><br />
                <a href="/halloffame.php" class="text-blue-500">Hall of Fame</a><br />
                <a href="/stats.php" class="text-blue-500">City Hall</a><br />
            </div>
        </div>
        <div class="flex flex-col space-y-3 text-center">
            <h3 class="text-lg bg-slate-200 py-1 rounded">Tourist Information</h3>
            <div>
                <a href="/crystaltemple.php" class="text-blue-500">Diamond Exchange</a><br />
                <a href="/battletent.php" class="text-blue-500">Battle Tent</a><br />
                <a href="/polling" class="text-blue-500">Polling Booth</a><br />
            </div>
        </div>
        <div class="flex flex-col space-y-3 text-center">
            <h3 class="text-lg bg-slate-200 py-1 rounded">East End</h3>
            <div>
            </div>
        </div>
    </div>

{% endblock %}
