{% extends 'layouts/app.twig' %}

{% block content %}

    {% include 'partials/title.twig' with {
        title: 'Player List',
        links: {
            'Explore': url('explore')
        }
    } %}

    <table class="w-full shadow rounded overflow-hidden">
        <thead class="bg-slate-200">
            <tr>
                <th class="font-medium text-left p-2">Name</th>
                <th class="font-medium text-left p-2">Location</th>
                <th class="font-medium text-left p-2">Last Seen</th>
            </tr>
        </thead>
        <tbody class="bg-slate-50">
            {% for player in players.items %}
                <tr class="border-t border-slate-200 hover:bg-blue-100">
                    <td class="text-left p-2">{{ player.name }}</td>
                    <td class="text-left p-2">{{ player.city }}</td>
                    <td class="text-left p-2">{{ time(player.last_seen) }} ago</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'partials/pagination.twig' with {page:players.page, pages:players.pages} %}

{% endblock %}
