{% extends 'layouts/app.twig' %}

{% block content %}

    {% include 'partials/title.twig' with {
        title: 'Preferences',
    } %}

    <form method="post" class="space-y-3 max-w-sm w-full">

        <div class="flex flex-col">
            <label for="name" class="font-medium text-slate-600">Name</label>
            <input id="name" type="text" name="name" value="{{ old('name', user.name) }}" autofocus required autocomplete="name" class="rounded" />
            {% if error('email') %}
                <span class="text-sm text-red-500">{{ error('email') }}</span>
            {% endif %}
        </div>

        <hr />

        <div class="flex flex-col">
            <label for="email" class="font-medium text-slate-600">Email</label>
            <input id="email" type="email" name="email" value="{{ old('email', user.email) }}" required autocomplete="email" class="rounded" />
            {% if error('email') %}
                <span class="text-sm text-red-500">{{ error('email') }}</span>
            {% endif %}
        </div>

        <hr />

        <div class="flex flex-col">
        </div>

        <div class="flex pt-6">
            <button type="submit" class="bg-blue-500 text-white font-medium px-4 py-2 rounded">Login</button>
        </div>

    </form>

{% endblock %}

{#
-- change gender
-- change password
-- change name
-- change profile picture

extra
-- change email
#}
