{% extends 'layouts/app.twig' %}

{% block content %}

    <h2 class="text-3xl font-light border-b border-slate-200 mb-3">Monolegacy Staff</h2>

    <div class="grid grid-cols-5 gap-3">
        <div class="border border-slate-300 bg-slate-50 flex flex-col items-center justify-center h-52">
            <span class="text-4xl font-extralight">?</span>
        </div>
        <div class="border border-slate-300 bg-slate-50 flex flex-col items-center justify-center h-52">
            <span class="text-4xl font-extralight">?</span>
        </div>
        <div class="border border-slate-300 bg-slate-50 flex flex-col items-center justify-center h-52">
            <span class="text-4xl font-extralight">?</span>
        </div>
        <div class="border border-slate-300 bg-slate-50 flex flex-col items-center justify-center h-52">
            <span class="text-4xl font-extralight">?</span>
        </div>
        <div class="border border-slate-300 bg-slate-50 flex flex-col items-center justify-center h-52">
            <span class="text-4xl font-extralight">?</span>
        </div>
    </div>

{% endblock %}
