{% extends 'layouts/app.twig' %}

{% block content %}

    {% include 'partials/title.twig' with {
        title: 'Monolegacy Staff',
        links: {
            'Explore': url('explore')
        }
    } %}

    <div class="grid grid-cols-5 gap-3">
        <div class="border border-slate-300 bg-slate-50 flex flex-col h-52">
            <div class="flex flex-grow items-center justify-center text-4xl font-extralight">?</div>
            <div class="bg-slate-200 text-center py-1 border-t border-slate-300">Position</div>
        </div>

        <div class="border border-slate-300 bg-slate-50 flex flex-col h-52">
            <div class="flex flex-grow items-center justify-center text-4xl font-extralight">?</div>
            <div class="bg-slate-200 text-center py-1 border-t border-slate-300">Position</div>
        </div>

        <div class="border border-slate-300 bg-slate-50 flex flex-col h-52">
            <div class="flex flex-grow items-center justify-center text-4xl font-extralight">?</div>
            <div class="bg-slate-200 text-center py-1 border-t border-slate-300">Position</div>
        </div>

        <div class="border border-slate-300 bg-slate-50 flex flex-col h-52">
            <div class="flex flex-grow items-center justify-center text-4xl font-extralight">?</div>
            <div class="bg-slate-200 text-center py-1 border-t border-slate-300">Position</div>
        </div>

        <div class="border border-slate-300 bg-slate-50 flex flex-col h-52">
            <div class="flex flex-grow items-center justify-center text-4xl font-extralight">?</div>
            <div class="bg-slate-200 text-center py-1 border-t border-slate-300">Position</div>
        </div>
    </div>

{% endblock %}
